{% extends 'base.html' %}

{% block content %}
    <!-- https://docs.djangoproject.com/en/3.0/ref/templates/language/#template-inheritance -->
    {% if user.is_authenticated %}
        {% include 'snippet/note.html' %}
        {% if object_list %}
            {% include 'list_note.html' with note_list=object_list %}
        {% else %}
            <p>You have empty Note, Create Now</p>
        {% endif %}
    {% else %}
        <div class="alert alert-primary my-4" role="alert">
            <h4 class="text-center">Join GetNote to add notes here.</h4>
        </div>    
    {% endif %}
        
{% endblock content %}