<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
    $(document).on('submit',"#note-form",function(e){
        e.preventDefault();
        var modal = $("#addNoteModel");
        var form = $("#note-form");
        var url = form.attr("action");
        var httpMethod = form.attr("method");
        $.ajax({
        url: url,
        method: httpMethod,
        data: $(this).serialize(),
        success: function(data){
            document.getElementById("note-form").reset();
            modal.modal('toggle');
            console.log("here is the json data  ",data)
            var shortText = jQuery.trim(data.text).substring(0, 100)
            // adding div element 
            $(".note-list-row").prepend(
                '<div class="col-3">'+
                    '<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem;">'+
                        '<div class="card-body">'+
                            '<h5 class="card-title">'+data.title+'</h5>'+
                            '<small class="card-subtitle mb-2 pt-2 text-muted">Last mod: '+data.last_mod+'</small>'+
                            '<br>'+
                            '<p class="card-text">'+shortText+'</p>'+
                            '<button type="button" class="btn btn-outline-primary">View Card</button>'+
                        '</div>'+
                    '</div>'+
                '</div>'
            )
        },
        error: function(xhr,errmsg,err){
            console.log("below is the error msg")
            console.log(xhr.status + ": " + xhr.responseText);
        }
      })
    });
});
</script>