<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  {% include 'base/sidebar.html' with tags=tags %}
  <button type="button" class="btn btn-primary btn" id="menu-toggle" onclick="openNav()"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="{% url 'home_page' %}">GetNote</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url "accounts:logout" %}">Logout</a>
          {% else %}
            <a class="dropdown-item" href="{% url "accounts:login_page" %}">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url "accounts:signup_page" %}">SignUp</a>
          {% endif %}
        </div>
      </li> 
    </ul>
    {% if user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0" method="GET" action={% url 'note:search_results' %}>
        <input class="form-control mr-sm-2" name="q" id="nav-bar-search" type="text" placeholder="Search..." aria-label="Search" data-toggle="popover" data-placement="left" data-content="Searching won't work on note's text due to encryption">
        <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>
      </form>
    {% endif %}
  </div>
</nav>

