{% extends 'base.html' %}

{% block content %}
  <div class="container col-5">
    <div class="card shadow p-3 mb-5 bg-white rounded align-self-middle">
      <h5 class="card-header text-center">Login</h5>
      <div class="card-body">
        <form id="login-form" method="post" action="{% url "accounts:login_page" %}">{% csrf_token %}
            <table class="table">
                <tr>
                    <td><label for="id_email">Username</label></td>
                    <td><input id="id_email" name="username" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password</label></td>
                    <td><input id="id_password" name="password" type="password" class="form-control"></td>
                </tr>
            </table>
            {% if form.errors %}
                <p class=" label label-danger">
                    Your username and password didn't match. 
                    Please try again.
                </p>
            {% endif %}

            <input type="submit" value="Login" class="btn btn-primary pull-right" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
      <p class="mt-2">Don't have account- <a href="{% url "accounts:signup_page" %}">Sign Up</a></p>
      <a href="#">Forgot Password?</a>
    </div>
  </div>
{% endblock content %}