<div class="container">
    <div class="row note-list-row">
        {% if note_list %}
            {% for note in note_list %}
                <div class="col-3">
                    {% include 'snippet/preview.html' with note=note %}
                </div>
            {% endfor %}
        {% else %}
            <p id="empty-note-msg">You have empty Note, Create Now</p>
        {% endif %}
    </div>
    <!-- dummy code for note cloning -->
    <div class="full-note-col d-none col-3">
        {% include 'snippet/preview.html' %}
    </div>
</div>