<script type="text/javascript">
    $(document).ready(function(){
        $(".note-model-view").hover(function(){
            var id= $(this).attr("value");
            $("#view-edit-note-"+id.toString()).click(function(event){
            // inject data
            var url = "{% url 'note:modfiy_note' %}"
            $.ajax({
                url: url,
                dataType: 'json',
                data: id,
                type: 'POST',
                success: function(data){
                    $("#note-title").val(data.title);
                    $("#note-text").val(data.text);
                    var TagValues = $('[name="tags"]').tagify().val()
                    if (TagValues.length==0){
                        $('[name=tags]').data('tagify').addTags(data.tags)
                    }
                    // after doing anything, remove the tags
                },
                error: function(error){
                    console.log("got error")
                }
                })
            });
        });

        $('#addNoteModel').on('hidden.bs.modal', function (e) {
            console.log("a model dismiss is called")
            $('#addNoteModel form')[0].reset();
            // now to remove the tags
            var input = $('[name=tags]').tagify()
            var jqTagify = input.data('tagify');
            jqTagify.removeAllTags();
        });
    });
</script>